<nav class="navbar">

  <div class="navbar-left">
    <div class="navbar-brand" (click)="dashboardService.selectedPage='home'; dashboardService.sidebarVisible=false" style="cursor: pointer;">
      <span class="brand-name">Watcher Hub</span>
    </div>

    <div class="nav-links-left">
      <a routerLink="/home" class="nav-link nav-link-devops"
         (click)="selectDevOps()">
        DevOps
      </a>

      <a routerLink="/home" class="nav-link nav-link-azure"
         (click)="selectAzure()">
        Azure
      </a>
    </div>
  </div>

  <div class="links">

    <a routerLink="/home" class="nav-link"
       (click)="dashboardService.selectedPage='home'; dashboardService.sidebarVisible=false">
      Home
    </a>

    <a routerLink="/about" class="nav-link">
      About
    </a>

    <div class="account">
      <span (click)="toggleLogout()">Account ▼</span>

      @if(showLogout){
      <div class="logout-menu">
        <button (click)="logout()">Logout</button>
      </div>
      }
    </div>

  </div>

</nav>